.counter-container{
   
    justify-content: center;
    text-align: center;
    max-width:1000px;
    width: 100%;
    min-height: 50vh;
    background-color: rgb(8, 7, 66);
    padding: 30px;
    border-radius: 6px;
   
}
.counter-container h1,h2{
    color:rgb(113, 209, 212);
}
.counter-container button{
    border: none;
    margin: 20px;
}

.counter-container button:hover{
    background-color: cadetblue;
    color: white;
}
.error{
    color: red;
    font-size: 12px;
    font-weight: 400;
}
